<header>
    <div id="site-logo"><a href="/"><img src="images/LogoMakr_1f5COB.png" alt="" width="38%"></a></div>
    <nav id="site-nav">
        <ul>
            <li><a href="/products">PRODUCT</a></li>
            <li><a href="/menu">MENUS</a></li>
            <li><a href="Portfolio.html">OUR-TEAM</a></li>
            <li><a href="/even">EVENT</a></li>
            <li><i class="fas fa-shopping-cart"></i></li>
        </ul>
    </nav>
</header>