<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="/css/menu.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div id="site-logo"><a href="/"><img src="images/LogoMakr_1f5COB.png" alt="" width="45%"></a></div>
    <nar id="site-nav">
        <ul>
            <li><a href="#">PRODUCT</a></li>
            <li><a href="#">MENUS</a></li>
            <li><a href="#">OUR-TEAM</a></li>
            <li><a href="#">EVENT</a></li>
            <li><i class="fas fa-shopping-cart"></i></li>
        </ul>
    </nar>
</header>
    <div class="site-content">
        <div class="wrapper">
            <div class="block-title-wrapper">
                <h4>What Happens Here</h4>
                <h2>COFFEE BUILD YOUR BASE.</h2>
                <div class="space"></div>
            </div>
            <div class="block-content-wrapper">
                <div class="left">
                    <div class="menu-item">
                        <img src="images/Item-showcase-icon-1.png" height="185" width="170"/>
                        <div>
                            <h3>CROISSANT</h3>
                            <p>Bánh sừng bò còn được gọi là bánh croa-xăng, có nguồn gốc từ Áo,Bánh sừng bò là một dạng bánh ăn sáng làm từ bột xốp được sản xuất từ bột mì
                            , men, bơ,sữa và muối.Khi kết hợp cafe chúng ta có thể tạo nên hương vị riêng biệt. </p>
                        </div>
                    </div>
                    <div class="menu-item">
                        <img src="images/Item-showcase-icon-2.png" height="185" width="170"/>
                        <div>
                            <h3>FRENCH TOAST</h3>
                            <p>French Toast là một món ăn rất dễ làm và dễ biến tấu,
                                cũng rất ngon nữa.Chúng ta có thể vừa nhâm nhi cốc cafe
                                vừa tận hưởng bánh để tăng thêm hương vị thơm ngon .</p>
                        </div>
                    </div>
                    <div class="menu-item">
                        <img src="images/Item-showcase-icon-3.png" height="185" width="170"/>
                        <div>
                            <h3>PANCAKES</h3>
                            <p>Pancake là một loại bánh ngọt có dạng hình tròn với kích
                                thước mỏng, dẹt; dùng làm bữa ăn sáng, ăn nhẹ hoặc làm món
                                tráng miệng được nhiều người ưa chuộng.Thưởng thức cùng một
                                tách trà, một ly sữa, cà phê hay rượu táo,… sẽ cho ra một
                                hương vị đặc biệt riêng hấp dẫn.</p>
                        </div>
                    </div>
                </div>
                <div class="center">
                    <img src="images/Grid-home-item-show-img.jpg" height="447" width="365"/>
                </div>
                <div class="right">
                    <div class="menu-item img-left">
                        <img src="images/Item-showcase-icon-4.png" height="185" width="170"/>
                        <div>
                            <h3>TURKISH COFFEE</h3>
                            <p>Cà phê Thổ Nhĩ Kỳ đề cập đến một phương pháp pha cà phê rất mịn.
                                Cà phê có thể được xay tại nhà trong một máy xay thủ công được sản xuất để xay rất mịn, được đặt hàng bởi các thương nhân cà phê ở hầu hết các nơi trên
                                thế giới, hoặc mua sẵn từ nhiều cửa hàng.</p>
                        </div>
                    </div>
                    <div class="menu-item img-left">
                        <img src="images/Item-showcase-icon-5.png" height="185" width="170"/>
                        <div>
                            <h3>COFFEE TO GO</h3>
                            <p>Mỗi buổi sáng ta thường mệt mỏi và bận rộn công việc không có thời gian uống cafe ta có thể mua một cốc cafe mang đi(cafe giúp ta tỉnh táo và làm việc hiệu quả hơn.</p>
                        </div>
                    </div>
                    <div class="menu-item img-left">
                        <img src="images/Item-showcase-icon-6.png" height="185" width="170"/>
                        <div>
                            <h3>MORNING COFFEE</h3>
                            <p>Uống một tách cafe buổi sáng 1 giờ trước khi làm việc sẽ giúp tối ưu hiệu suất công việc của bạn rất nhiều.Cafe còn giúp ta giảm thiểu các bệnh tật như ung thư,giảm nguy cơ đột quỵ,giảm cân,... </p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="wrapper wrapper1">
                <div class="col1">
                    <img src="images/home-8-masonry-gall-1.jpg" height="800" width="800"/>
                </div>
                <div class="col2">
                    <img src="images/home-8-masonry-gall-2.jpg" height="634" width="305"/>
                </div>
            <div class="col3">
                <div>
                    <img src="images/home-2-gallery-3-550x550.jpg" height="550" width="550"/>
                </div>
                <div>
                    <img src="images/home-8-masonry-gallery-3-550x550.jpg" height="550" width="550"/>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="wrapper wrapper2">
            <div class="block-title-wrapper">
                <h4>What Happens Here</h4>
                <h2>BEST COFFEE.</h2>
                <div class="space">
                </div>
            </div>
            <div class="block-content-wrapper">
                <div class="menu-left menu-col">
                    <div>
                        <div class="name">
                            <p>CAFFE LATTE</p>
                            <p class="line"></p>
                            <p>$2.95</p>
                        </div>
                        <p>Fresh brewed coffee and steamed milk</p>
                        <span>NEW</span>
                    </div>
                    <div>
                        <div class="name">
                            <p>MOCHA LATTE</p>
                            <p class="line"></p>
                            <p>$2.95</p>
                        </div>
                        <p>Socola đen và espresso shots hòa quyện cũng sữa tươi</p>
                    </div>
                    <div>
                        <div class="name">
                            <p>ESPRESSO</p>
                            <p class="line"></p>
                            <p>$2.95</p>
                        </div>
                        <p>Đậm đà đến giọt cà phê cuối cùng</p>
                    </div>
                    <div>
                        <div class="name">
                            <p>CUBANO</p>
                            <p class="line"></p>
                            <p>$2.95</p>
                        </div>
                        <p>Vô cùng thơm ngon và ngọt ngào</p>
                    </div>
                    <div>
                        <div class="name">
                            <p>CAPPUCCINO</p>
                            <p class="line"></p>
                            <p>$2.95</p>
                        </div>
                        <p>Espresso và lớp bọt mịn</p>
                    </div>
                    <div>
                        <div class="name">
                            <p>VANILLA LATTE</p>
                            <p class="line"></p>
                            <p>$2.95</p>
                        </div>
                        <p>Espresso vị sữa cùng với kem tươi</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="menu-right menu-col">
                    <div>
                        <div class="name">
                            <p>ICED CARAMEL LATTE</p>
                            <p class="line"></p>
                            <p>$4.67</p>
                        </div>
                        <p>Espresso, sữa, đá và caramel</p>
                    </div>
                    <div>
                        <div class="name">
                            <p>ESPRESSO MACCHIATO</p>
                            <p class="line"></p>
                            <p>$4.67</p>
                        </div>
                        <p>Espresso, sữa, đá và sốt caramel</p>
                    </div>
                    <div>
                        <div class="name">
                            <p>CARAMEL MACCHIATO</p>
                            <p class="line"></p>
                            <p>$4.67</p>
                        </div>
                        <p>Espresso, xi-rô hương vani và sữa</p>
                    </div>
                    <div>
                        <div class="name">
                            <p>ICED SMOKED LATTE</p>
                            <p class="line"></p>
                            <p>$4.67</p>
                        </div>
                        <p>Espresso, đá, với butterscotch hun khói</p>
                    </div>
                    <div>
                        <div class="name">
                            <p>ICED CAFFE MOCHA</p>
                            <p class="line"></p>
                            <p>$4.67</p>
                        </div>
                        <p>Espresso, sốt mocha đắng, sữa và đá</p>
                    </div>
                    <div>
                        <div class="name">
                            <p>ICED GINGERBREAD LATTE</p>
                            <p class="line"></p>
                            <p>$4.67</p>
                        </div>
                        <p>Espresso, sữa, đá và hương bánh gừng</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="wrapper wrapper3">
            <div class="box box1">
                <a href="#" target="_blank"></a>
                <div>
                    <h3>TURKISH COFFEE</h3>
                    <p class="box-desc">Cà phê Thổ Nhĩ Kỳ đề cập đến một phương pháp pha cà phê rất mịn.
                        Cà phê có thể được xay tại nhà trong một máy xay thủ công được sản xuất để xay rất mịn.</p>
                    <p class="box-readmore">READ MORE</p>
                </div>
            </div>
            <div class="box box2">
                <a href="#" target="_blank"></a>
                <div>
                    <h3>TRÀ SHAN TUYẾT</h3>
                    <p class="box-desc">Trà Shan Tuyết (hay chè Shan tuyết) là loại trà có búp to màu trắng xám, dưới lá trà có phủ 1 lớp lông tơ mịn, trắng nên người dân gọi là trà tuyết.</p>
                    <p class="box-readmore">READ MORE</p>
                </div>
            </div>
            <div class="box box3">
                <a href="#" target="_blank"></a>
                <div>
                    <h3>BÁNH KẾP</h3>
                    <p class="box-desc">Bánh kếp – một món bánh khá phổ biến ở nhiều quốc gia trên thế giới.Khi du nhập vào Việt Nam thì bánh Kếp đã được rất nhiều người ưa chuộng.</p>
                    <p class="box-readmore">READ MORE</p>
                </div>
            </div>
            <div class="box box4">
                <a href="#" target="_blank"></a>
                <div>
                    <h3>BÁNH SỪNG BÒ</h3>
                    <p class="box-desc">Bánh sừng bò còn được gọi là bánh croa-xăng, có nguồn gốc từ Áo, là một dạng bánh ăn sáng làm từ bột xốp, được sản xuất từ bột mì, men, bơ, sữa, và muối.</p>
                    <p class="box-readmore">READ MORE</p>
                </div>
            </div>
            <div class="box box5">
                <a href="#" target="_blank"></a>
                <div>
                    <h3>BÁNH FLAN</h3>
                    <p class="box-desc">Bánh được làm từ những nguyên liệu chủ yếu là lòng đỏ trứng, sữa, đường và caramel. Bánh rất dễ ăn vì vậy thu hút được hầu hết các độ tuổi khác nhau. </p>
                    <p class="box-readmore">READ MORE</p>
                </div>
            </div>
            <div class="box box6">
                <a href="#" target="_blank"></a>
                <div>
                    <h3>CAFE BUỔI SÁNG</h3>
                    <p class="box-desc">Giá trị dinh dưỡng cả Cafe: Nước: 99.5g nước, Protein: 0.2g, Chất béo: 0.1g, Chất tro: 0.1g, Chất béo: 3mg, Phốt pho: 4mg, Natri: 2mg, Vitamin B2: 0.01 mg.</p>
                    <p class="box-readmore">READ MORE</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="wrapper wrapper4">
            <div class="quote-header">”</div>
            <div>
                <div class="quote-slider">
                    <div>Tình yêu ở trong không khí và nó hương giống với Cafe</div>
                </div>
            </div>
        </div>
    </div>
<footer>
    <a href="#" target="_blank"><div class="social-icon"><i class="fab fa-facebook-f"></i></div></a>
    <a href="#"><div class="social-icon" ><i class="fab fa-instagram"></i></div></a>
    <a href="#"><div class="social-icon"><i class="fab fa-youtube"></i></div></a>
</footer>
</body>
</html>'