<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Features</title>
    <link rel="stylesheet" type="text/css" href="Library/Library/Bootstrap3.3.7/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/our-team.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="font/css/all.css">
    <link rel="stylesheet" href="Library/NivoSlider/themes/dark/dark.css">
    <link rel="stylesheet" href="Library/NivoSlider/nivo-slider.css">
</head>
<body>
<%- include('head.ejs'); %>
<section class="section">
    <hr>
    <div class="container theme-dark">
        <h1>Core Value</h1>
        <div id="slider" class="nivoSlider">
            <img src="images/luu-y-khi-kinh-doanh-ca-phe.jpg" data-thumb="images/toystory.jpg" title="Cung cấp không gian giao tiếp ấm cúng" />
            <img src="images/thiet-ke-quan-cafe.jpg" data-thumb="images/up.jpg"  title="Đánh thức chất nghệ sĩ trong bạn " />
            <img src="images/cafe-nguyen-chat-15286085585400.jpg" data-thumb="images/walle.jpg"  title="Cà phê chất, ngon ngây ngất" />
            <img src="images/cach-quan-ly-quan-ca-phe-hieu-qua-3.jpg" data-thumb="images/nemo.jpg"  title="Thân thiện và gần gũi" />
        </div>
    </div>
    <div id="quote">
        <p id="lyric">You on top, không phải trending <br>
            Không phải Youtube, không phải trên Zing <br>
            BigcityBoi - Més que un Cafetería
        </p>
        <div id="binz">
            <img src="images/binz.jpg">
            <p> - .Ben zít.-</p>
        </div>
    </div>
    <div class="box">
        <div id="myteam">
            <h1>Our Team</h1>
            <div class="myteam-content">
                <div class="personne">
                    <img src="images/Ahoang1.jpg"/>
                    <div class="name">
                        <span>Barista</span>
                        <h6>NGHIÊM HUY HOÀNG</h6>
                    </div>
                </div>
                <div class="text">
                    <p>Trong giới bartender FPT không ai là không biết đến biệt danh “Chàng Showmanship máu lửa” – Nghiêm Huy Hoàng, bởi những kỹ thuật pha chế đỉnh cao của anh chàng.Bằng tài năng và sự cố gắng của mình, chàng trai sinh năm 1993 này đã ghi được dấu ấn và gặt hái được nhiều thành công với nghề bartender, tiêu biểu như: Giải nhì cuộc thi Hofex tổ chức tại Hồng Kông, Top 10 cuộc thi IBA toàn cầu năm 2012,…
                        Không những vậy, Nghiêm Huy Hoàng còn cái tên nằm trong Top 10 bartender giỏi của thế giới, do Hiệp hội Bartender quốc tế bình chọn.
                    </p>.
                    <div class="icon">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-google-plus-square"></i></a>
                        <a href="#"><i class="fab fa-viber"></i></a>
                        <a href="#"><i class="fab fa-line"></i></a>
                    </div>
                </div>
            </div>
            <div class="myteam-content">
                <div class="personne">
                    <img src="images/Anam1.jpg"/>
                    <div class="name">
                        <span>Quản lý</span>
                        <h6>LÊ VĂN NAM</h6>
                    </div>
                </div>
                <div class="text">
                    <p>
                        Lê Văn Nam – “Ông giáo trẻ”
                        Được biết đến với biệt danh “Ông giáo trẻ”, Lê Văn Nam (SN 1992) là bartender trẻ đang sở hữu trong tay bộ sưu tập giải thưởng đồ sộ nhất. Tiêu biểu như: Giải vô địch Việt Nam Barpro flair 2011, Giải nhất Asia Mixologist and Flair 2012 tại Malaysia, Giải nhất Asia Competition 2014 và Asia Bacardi Quick Mix 2014 tại Thái Lan,… Đặc biệt, anh còn là Nhà vô địch pha chế 5 loại cocktail nhanh nhất với thời gian kỷ lục là 1 phút 20 giây…
                        Không chỉ sở hữu bộ sưu tập giải thưởng danh giá Phạm Đình Song còn được nể phục khi là người Việt Nam đầu tiên được Tập đoàn quản lý khách sạn lớn nhất thế giới Marriott bình chọn là Nhà quản lý Bar chuyên nghiệp nhất khi chỉ mới 21 tuổi.Hiện nay, ngoài vai trò Giám sát F&B của khách sạn Renaissance Riverside (TP. Hồ Chí Minh), Phạm Đình Song còn tham gia giảng dạy một số bộ môn như Bartender, Flair Bartending, Barista, Pha chế thông dụng và Quản lý Bar…
                    </p>.
                    <div class="icon">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-google-plus-square"></i></a>
                        <a href="#"><i class="fab fa-viber"></i></a>
                        <a href="#"><i class="fab fa-line"></i></a>
                    </div>
                </div>
            </div>
            <div class="myteam-content">
                <div class="personne">
                    <img src="images/dong1.jpg"/>
                    <div class="name">
                        <span>Phục vụ</span>
                        <h6>NGUYỄN THÀNH ĐÔNG</h6>
                    </div>
                </div>
                <div class="text">
                    <p>
                        Là chàng trai sinh năm 1997 Nguyễn Thành Đông được vinh danh là “Bartender xuất sắc nhất Thái Bình” trong cuộc thi Tìm kiếm tài năng pha chế đẳng cấp miền Bắc được tổ chức tại Mù Cang Chải. Bên cạnh đó, anh còn là đại diện duy nhất của Việt Nam tham dự Diageo Reserve World Class 2014 và xuất sắc lọt vào TOP 100 ứng viên giỏi nhất của cuộc thi.
                        Sau nhiều năm rèn luyện và học hỏi, giờ đây, Nguyễn Thành Đông được cộng đồng bartender Việt biết đến là một Mixologist xuất sắc – chuyên gia về kỹ thuật pha chế và biểu diễn.
                    </p>.
                    <div class="icon">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-google-plus-square"></i></a>
                        <a href="#"><i class="fab fa-viber"></i></a>
                        <a href="#"><i class="fab fa-line"></i></a>
                    </div>
                </div>
            </div>
            <div class="myteam-content">
                <div class="personne">
                    <img src="images/Avien1.jpg"/>
                    <div class="name">
                        <span>Barista & Thu Ngân</span>
                        <h6>LÊ KỶ VIỄN</h6>
                    </div>
                </div>
                <div class="text">
                    <p>
                        Lê Kỷ Viễn – tác giả của món cocktail “điên rồ”
                        Do hoàn cảnh gia đình, Lê Kỷ Viễn đã phải nghỉ học, xin làm phục vụ để tự bươn chải cuộc sống từ khi mới 15 tuổi. Được được tiếp xúc với môi trường trong quán bar, đã nhen nhóm cho Viễn niềm đam mê với nghề pha chế và anh đã quyết định theo đuổi con đường này.Nhờ sự cá tính cùng niềm đam mê cháy bỏng của mình, Lê Kỷ Viễn đã là cái tên nằm trong Top 50 Bartender nổi tiếng nhất thế giới. Năm 2012, cái tên này tiếp tục được xướng tên khi trở thành nhà vô địch cuộc thi Diageo World Class tổ chức tại Khánh Hòa với món cocktail “điên rồ” – cocktail Phở
                    </p>.
                    <div class="icon">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-google-plus-square"></i></a>
                        <a href="#"><i class="fab fa-viber"></i></a>
                        <a href="#"><i class="fab fa-line"></i></a>
                    </div>
                </div>
            </div>
            <div class="myteam-content">
                <div class="personne">
                    <img src="images/Ha1.jpg"/>
                    <div class="name">
                        <span>Barista & Phục vụ</span>
                        <h6>PHẠM ĐỨC HÀ</h6>
                    </div>
                </div>
                <div class="text">
                    <p>
                        Không chỉ sở hữu những kỹ năng pha chế điêu luyện, Lê Xuân Trọng còn có khả năng thu hút sự chú ý của mọi người xung quanh “chìm đắm” vào phần biểu diễn của mình. Đa số những người xem biểu diễn của anh đều đánh giá Xuân Trọng giống như một nghệ sĩ biểu diễn xiếc vô cùng điêu luyện. Từng điệu lắc lư theo điệu nhạc sôi động, những màn tung hứng những bình shaker điêu luyện và pha chế những thức uống sáng tạo là niềm vui thường nhật của chàng bartender tài năng này.
                        Là một trong những bartender xuất sắc nhất Việt Nam hiện nay với kho tàng giải thưởng danh giá của mình: Giải nhất Barpro 2013, Giải ba Barpro 2014, Giải nhất Flair Competition – SaiGon Tourist Cup 2014…
                    </p>
                    <div class="icon">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-google-plus-square"></i></a>
                        <a href="#"><i class="fab fa-viber"></i></a>
                        <a href="#"><i class="fab fa-line"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="JS/jQuery.js"></script>
<script type="text/javascript" src="Library/Library/Bootstrap3.3.7/js/bootstrap.js"></script>
<script type="text/javascript" src="Library/NivoSlider/jquery.nivo.slider.js"></script>
<script type="text/javascript">
    $('#slider').nivoSlider();
</script>
</body>
</html>